<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Gestion dui store</h4>
                        <p class="card-category"> De la vente, à l'achat des Cards, puis la transaction </p>
                    </div>

                    <div class="scrollbarClass card-body">
                        <div class="table-responsive">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>