<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Affichage des Cards</h4>
                        <p class="card-category"> Différents cards à la vente </p>
                    </div>

                    <div class="scrollbarClass card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered mt-3">
                                <thead class="thead-light text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Family
                                    </th>
                                    <th>
                                        Affinity
                                    </th>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Small Image
                                    </th>
                                    <th>
                                        Energy
                                    </th>
                                    <th>
                                        HP
                                    </th>
                                    <th>
                                        Defense
                                    </th>
                                    <th>
                                        Attack
                                    </th>
                                    <th>
                                        User
                                    </th>
                                    <th>
                                        Update
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                </thead>
                                
                                <tbody>
                                        <tr *ngFor="let p of cards; index as i">
                                            <td>
                                                {{p.id}}
                                            </td>
                                            <td>
                                                {{p.name}}
                                            </td>
                                            <td>
                                                {{p.description}}
                                            </td>
                                            <td>
                                                {{p.family}}
                                            </td>
                                            <td>
                                                {{p.affinity}}
                                            </td>
                                            <td>
                                                {{p.imgUrl}}
                                            </td>
                                            <td>
                                                {{p.smallImgUrl}}
                                            </td>
                                            <td>
                                                {{p.energy}}
                                            </td>
                                            <td>
                                                {{p.hp}}
                                            </td>
                                            <td>
                                                {{p.defense}}
                                            </td>
                                            <td>
                                                {{p.attack}}
                                            </td>
                                            <td>
                                                {{p.userId}}
                                            </td>
                                            <td>
                                                <button mat-raised-button type="submit" (click)="update(userId)" class="btn btn-danger pull-right">Update</button> 
                                            </td>
                                            <td>
                                                <button mat-raised-button type="submit" (click)="ondelete(userId)" class="btn btn-danger pull-right">Delete</button>  
                                            </td>
                                        </tr>
                                </tbody>
                                
                                <!-- <div #elseBlock="">
                                    <p> Aucune données disponible </p>
                                </div> -->

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>