<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Affichage des Cards</h4>
                        <p class="card-category"> Différents cards à la vente </p>
                    </div>

                    <div class="scrollbarClass card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered mt-3">
                                <thead class="thead-light text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Family
                                    </th>
                                    <th>
                                        Affinity
                                    </th>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Small Image
                                    </th>
                                    <th>
                                        Energy
                                    </th>
                                    <th>
                                        HP
                                    </th>
                                    <th>
                                        Defense
                                    </th>
                                    <th>
                                        Attack
                                    </th>
                                    <th>
                                        User
                                    </th>
                                    <th>
                                        Update
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                </thead>
                                
                                <tbody>
                                    <!-- <div *ngIf="cards"; else BlockElse> -->
                                        <tr *ngFor="let p of cards; index as i">
                                            <td>
                                                {{p.id}}
                                            </td>
                                            <td>
                                                {{p.name}}
                                            </td>
                                            <td>
                                                {{p.description}}
                                            </td>
                                            <td>
                                                {{p.family}}
                                            </td>
                                            <td>
                                                {{p.affinity}}
                                            </td>
                                            <td>
                                                {{p.imgUrl}}
                                            </td>
                                            <td>
                                                {{p.smallImgUrl}}
                                            </td>
                                            <td>
                                                {{p.energy}}
                                            </td>
                                            <td>
                                                {{p.hp}}
                                            </td>
                                            <td>
                                                {{p.defense}}
                                            </td>
                                            <td>
                                                {{p.attack}}
                                            </td>
                                            <td>
                                                {{p.userId}}
                                            </td>
                                            <td>
                                                <button mat-raised-button type="submit" (click)="getCard(p)" class="btn btn-danger pull-right" data-toggle="modal" data-target="#exampleModal">Update</button>
                                            </td>
                                            <td>
                                                <button mat-raised-button type="submit" (click)="ondelete(p.id)" class="btn btn-danger pull-right">Delete</button>  
                                            </td>
                                        </tr>
                                    <!-- </div> -->
                                </tbody>
                                
                                <!-- <div #BlockElse="">
                                    <p> Aucune données disponible </p>
                                </div> -->

                            </table>
                        </div>
                    </div>

                    <!-- Modal -->
                    

                    <div *ngIf="card!=null" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"> Mettre à jour le card N° {{ card.id }} </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    
                                    <form #formData="ngForm"  (ngSubmit)="updateCard(formData)"> 

                                        <input ngModel='{{card.id}}' type="hidden"  name="id">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput type="text" ngModel='{{card.name}}' name="name">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput type="text" ngModel='{{card.description}}' name="description">
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput type="text" ngModel='{{card.family}}' name="family">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput type="text" ngModel='{{card.affinity}}' name="affinity">
                                                </mat-form-field>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-6"> 
                                                <mat-form-field class="example-full-width">
                                                    <input matInput type="text" ngModel='{{card.imgUrl}}' name="imgUrl">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput type="text" ngModel='{{card.smallImgUrl}}' name="smallImgUrl">
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput type="number" ngModel='{{card.energy}}' name="energy">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput type="number" ngModel='{{card.hp}}' name="hp">
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput type="number" ngModel='{{card.defense}}' name="defense">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput type="number" ngModel='{{card.attack}}' name="attack">
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Update</button>
                                        </div>
                                    
                                    </form>

                                </div>
                            
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
  </div>